.panel-heading Nowa rozgrywka
.panel-body
  = simple_form_for(@play, html: { class: 'horizontal-form' }) do |f|
    = f.input :game_id, label: 'Gra', collection: Game.all.collect { |g| [ g.name, g.id ] }, include_blank: false, input_html: { class: 'form-control' }
    = f.input :players_names, label: 'Imiona graczy (oddzielone przecinkami)', input_html: { class: 'form-control' }
    %br
    %button.btn.btn-default{ type: "submit" } Losuj