// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#start-button {
    /*position: absolute;*/
/*    top: 50%;
    left:50%;
    width:200px;
    margin-left:100px;
    margin: auto;*/
 }

body {
  background: #b8b894;
  background-image: url(background.jpg);
  background-position: center;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
}

